# Dependency directories
node_modules/

# dotenv environment variable file
.env

# Stored VSCode versions used for testing VSCode extensions
.vscode-test

# OS files
.DS_Store

# Logs
logs/
results/

# Jobs
jobs/

# Reports
reports/

# Secrets
.secrets
