# Dependency directories
node_modules/

# Stored VSCode versions used for testing VSCode extensions
.vscode-test

# OS files
.DS_Store

# Transactional data
logs/
results/
jobs/
reports/
ai0Balance.json

# Secrets and environment-specific configurations
.env
.secrets
