# Dependency directories
node_modules/

# Stored VSCode versions used for testing VSCode extensions
.vscode-test

# OS files
.DS_Store

# Transactional data
db/
!test/fixtures/db/
results/
ai0Balance.json
web/tutorial/comments.json

# Test coverage reports
coverage/

# Secrets and environment-specific configurations
.env
.secrets
