openapi: 3.1.0
info:
  title: Kilotest Agent API
  description: Kilotest tests web pages for front-end quality (i.e. accessibility, usability, and standards conformity) using an ensemble of ten independent rule engines that employ rule-based and machine-learning-based methods. This API enables AI agents to recommend web pages for testing, discover available test reports, and retrieve data from reports. For background on Kilotest and the advantages of ensemble testing, visit https://kilotest.com.
  version: 1.0.0
  contact:
    name: Kilotest
    url: https://kilotest.com
    email: info@kilotest.com

servers:
  - url: https://kilotest.com
    description: Kilotest production server

paths:
  /api/targets:
    get:
      operationId: summarizeQualityOfAllTestedWebPages
      summary: Summarize quality of all tested web pages
      description: Returns summary data about every non-hidden report available from Kilotest, including the name and URL of the tested web page, when the testing was performed, how many front-end quality (i.e. accessibility, usability, and standard-conformity) issues were reported, and URLs for retrieving more detailed data from the report. This is the first endpoint to call if you want data about a particular web page. The result will tell you whether a report on that page already exists. If so, you can retrieve data from it. If not, you can use the submitWebAccessibilityTestRequest endpoint to recommend the page for testing.
      responses:
        '200':
          description: Summaries of available reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetsResponse'

  /api/testRecForm:
    post:
      operationId: recommendQualityTestingOfOneWebPage
      summary: Recommend quality testing of one web page
      description: Submit a recommendation for Kilotest to test, for the first time, a particular web page for front-end quality (i.e. accessibility, usability, and standards conformity). Recommendations are typically approved and the testing completed within a day, whereupon the results can be found with the summarizeQualityOfAllTestedWebPages operation. Before submitting a recommendation, use the summarizeQualityOfAllTestedWebPages operation to ensure that no report about the page is available, and also to see the stylistic rules for the naming of pages. An attempt to recommend a page for testing will fail if a report about the page is already available.
      requestBody:
        description: Test recommendation specifications
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRecForm'
      responses:
        '200':
          description: Acknowledgement of test recommendation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRecFormResponse'

  /api/reportIssues/{timeStamp}/{jobID}:
    get:
      operationId: describeQualityOfOneWebPage
      summary: Describe quality of one web page
      description: Get data about the quality of a specified Kilotest report. The data about each issue include its priority, the rule engines that reported it, the number of HTML elements exhibiting it, and URLs for retrieving element-level detail. The timeStamp and jobID parameters identify the report and are available in the response from the summarizeQualityOfAllTestedWebPages operation.
      parameters:
        - name: timeStamp
          in: path
          required: true
          description: timeStamp component of the report identifier, in the format YYMMDDTHHMM (e.g., 260503T0432).
          schema:
            type: string
            pattern: '^\d{6}T\d{4}$'
            examples:
              - 260503T0432
        - name: jobID
          in: path
          required: true
          description: Job identifier component of the report identifier (e.g., xx0).
          schema:
            type: string
            examples:
              - xx0
      responses:
        '200':
          description: Data on issues from the specified report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIssuesResponse'
        '404':
          description: No report with the specified identifier is available

  /api/reportIssue/{issueID}/{timeStamp}/{jobID}:
    get:
      operationId: describeHTMLElementsHavingOneQualityIssue
      summary: Describe HTML elements having one quality issue (NOT YET IMPLEMENTED)
      description: Get issue-specific data from a specified report about the front-end quality (i.e. accessibility, usability, and standards conformity) of a web page. The data describe the issue, all of the HTML elements of the page that have the issue, and, for each such element, URLs for retrieving diagnoses by rule engines of the issue on the element. NOT YET IMPLEMENTED.
      parameters:
        - name: issueID
          in: path
          required: true
          description: Issue identifier (e.g., imageNoText). Available under "issues reported" > priority level > "identifier" in the describeQualityOfOneWebPage response.
          schema:
            type: string
            examples:
              - imageNoText
        - name: timeStamp
          in: path
          required: true
          schema:
            type: string
        - name: jobID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details about the specified issue in the specified report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIssueResponse'
        '404':
          description: No report or issue found with the specified identifiers

components:
  schemas:

    CommonResponseFields:
      type: object
      properties:
        summary:
          type: string
          description: Natural-language description of this response and of Kilotest. Provides context for an agent encountering Kilotest for the first time.
        tool name:
          type: string
          examples:
            - Kilotest
        request:
          type: object
          properties:
            type of request:
              type: object
              properties:
                identifier:
                  type: string
                description:
                  type: string
            method:
              type: string
              enum:
                - GET
                - POST
            payload:
              type: object
              description: Present only for POST requests. The request payload.
            URLs:
              type: object
              properties:
                'URL of your request':
                  type: string
                'equivalent URL for humans':
                  type: string
            closest ancestor request:
              oneOf:
                - type: 'null'
                - type: object
                  properties:
                    description:
                      type: string
                    URLs:
                      type: object
                      properties:
                        'for you':
                          type: string
                        'for humans':
                          type: string
        response metadata:
          type: object
          properties:
            identifier:
              type: string
              description: Unique identifier for this response instance.
            date and time:
              type: string
              format: date-time

    TestRecForm:
      type: object
      properties:
        what:
          type: string
          description: Description of the web page to be tested.
        url:
          type: string
          description: URL of the web page to be tested.
        why:
          type: string
          description: Reason for testing the page.

    TestRecFormResponse:
      $ref: '#/components/schemas/CommonResponseFields'

    RuleEngineInfo:
      type: object
      description: A rule engine in the Kilotest ensemble.
      properties:
        identifier:
          type: string
          description: Short programmatic identifier for the rule engine.
          examples:
            - alfa
        name:
          type: string
          description: Display name of the rule engine.
          examples:
            - Alfa
        sponsor:
          type: string
          description: Organization that created, initially sponsored, or now sponsors the rule engine.
          examples:
            - Siteimprove

    RuleEngineFailure:
      type: object
      description: A rule engine that was unable to complete testing of the page.
      properties:
        name:
          type: string
          examples:
            - WAVE
        reason for failure:
          type: string
          examples:
            - Not enough credits.

    RuleEnginesSummary:
      type: object
      description: Count and names of a set of rule engines.
      properties:
        number:
          type: integer
        names:
          type: array
          items:
            type: string

    NextTierURLs:
      type: object
      description: URLs for retrieving the next level of detail.
      properties:
        for you:
          type: string
          format: uri
          description: URL for an agent to request the next tier of detail.
        for humans:
          type: string
          format: uri
          description: URL for a human to view the next tier of detail.

    TargetsItem:
      type: object
      description: Summary data about a single available report.
      properties:
        identifier:
          type: string
          examples:
            - 260504T1659-029
        creation date:
          type: string
          format: date-time
        days since the creation date:
          type: integer
        tested web page:
          type: object
          properties:
            description:
              type: string
            URL:
              type: string
              format: uri
        whether a later report about the same page exists:
          type: boolean
          description: If true, a more recent report about this page is available. If you want the latest results, use that report instead.
        number of issues reported:
          type: integer
        number of HTML elements reported as exhibiting issues:
          type: integer
        rule engines that tried to test the page:
          $ref: '#/components/schemas/RuleEnginesSummary'
        rule engines that were unable to test the page:
          $ref: '#/components/schemas/RuleEnginesSummary'
        rule engines that reported issues:
          $ref: '#/components/schemas/RuleEnginesSummary'
        URLs for getting data on the reported issues:
          $ref: '#/components/schemas/NextTierURLs'
        URL for getting the full technical report as JSON:
          type: string
          format: uri

    TargetsResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          properties:
            available reports:
              type: array
              description: One entry per available Kilotest report, in alphabetical order by page description and, in case of multiple reports per page, in order of creation date and time. Reports are matched by page description, not page URL, so, if only the URL of a page has changed between reports, the reports are treated as reports about the same page.
              items:
                $ref: '#/components/schemas/TargetsItem'

    IssueEntry:
      type: object
      description: Details about a specific front-end quality issue found on a page.
      properties:
        identifier:
          type: string
          examples:
            - imageNoText
        summary:
          type: string
          description: Brief natural-language label for the issue.
          examples:
            - image not named
        related WCAG 2.2 standard:
          type: object
          description: The WCAG 2.2 success criterion or guideline most closely related to this issue.
          properties:
            layer:
              type: string
              enum:
                - guideline
                - success criterion
            'numeric identifier':
              type: string
              pattern: '^\d\.\d(\.\d+)?$'
              examples:
                - 1.1.1
        impact on a user:
          type: string
          description: How this issue is likely to affect users.
        rule engines reporting the issue:
          $ref: '#/components/schemas/RuleEnginesSummary'
        number of HTML elements reported as exhibiting the issue:
          type: integer
        URLs for details about the issue on the page:
          $ref: '#/components/schemas/NextTierURLs'

    IssuesByPriority:
      type: object
      properties:
        highest priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        high priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        low priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        lowest priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'

    ReportIssuesResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          properties:
            report:
              type: object
              properties:
                identifier:
                  type: string
                creation date:
                  type: string
                  format: date-time
                days since the creation date:
                  type: integer
            tested web page:
              type: object
              properties:
                description:
                  type: string
                URL:
                  type: string
                  format: uri
            rule engines that tried to test the page:
              type: array
              items:
                $ref: '#/components/schemas/RuleEngineInfo'
            rule engines that were unable to test the page:
              type: array
              items:
                $ref: '#/components/schemas/RuleEngineFailure'
            rule engines that reported issues:
              $ref: '#/components/schemas/RuleEnginesSummary'
            number of issues reported:
              type: object
              properties:
                total:
                  type: integer
                by priority:
                  type: object
                  properties:
                    highest priority:
                      type: integer
                    high priority:
                      type: integer
                    low priority:
                      type: integer
                    lowest priority:
                      type: integer
            number of HTML elements reported as exhibiting issues:
              type: integer
            issues reported:
              $ref: '#/components/schemas/IssuesByPriority'

    ReportIssueResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          description: Element-level detail for a specific issue. Schema to be completed once the tier-3 service is implemented.
