openapi: 3.1.0
info:
  title: Kilotest Agent API
  description: Kilotest tests web pages for accessibility, usability, and standard conformity using an ensemble of ten independent tools that employ rule-based and machine-learning-based methods. This API enables AI agents to recommend web pages for testing, discover available test reports, and retrieve data from reports. For background on Kilotest and the advantages of ensemble testing, visit https://kilotest.com.
  version: 1.0.0
  contact:
    url: https://kilotest.com
    email: info@kilotest.com
    repository: https://github.com/jrpool/kilotest

servers:
  - url: https://kilotest.com
    description: Kilotest production server

paths:
  /api/testRecForm:
    post:
      operationId: testRecForm
      summary: Receives a testing recommendation
      description: Receives a recommendation for Kilotest to test a particular web page.
      requestBody:
        description: Test recommendation specifications
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRecForm'
      responses:
        '200':
          description: Acknowledgement of test recommendation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRecFormResponse'

  /api/targets:
    get:
      operationId: targets
      summary: Summarizes all available reports
      description: Returns summary data about every non-hidden report available from Kilotest, including the name and URL of the tested web page, when the testing was performed, how many issues were reported, and URLs for retrieving more detailed data from the report.
      responses:
        '200':
          description: Summaries of available reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetsResponse'

  /api/reportIssues/{timeStamp}/{jobID}:
    get:
      operationId: getReportIssues
      summary: Gets data on issues from a specific report
      description: Returns data about the issues reported in a specific Kilotest report, grouped by priority. The data on each issue include the tools that reported it, the number of HTML elements exhibiting it, and URLs for retrieving element-level detail. The timeStamp and jobID components identify the report and are available in the targets response.
      parameters:
        - name: timeStamp
          in: path
          required: true
          description: timeStamp component of the report identifier, in the format YYMMDDTHHMM (e.g., 260503T0432).
          schema:
            type: string
            pattern: '^\d{6}T\d{4}$'
            example: '260503T0432'
        - name: jobID
          in: path
          required: true
          description: Job identifier component of the report identifier (e.g., xx0).
          schema:
            type: string
            example: 'xx0'
      responses:
        '200':
          description: Data on issues from the specified report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIssuesResponse'
        '404':
          description: No report with the specified identifier is available

  /api/reportIssue/{issueID}/{timeStamp}/{jobID}:
    get:
      operationId: getReportIssue
      summary: Gets details about a specific issue in a specific report (NOT YET IMPLEMENTED)
      description: Returns details about a single issue within a specific report, including which HTML elements exhibit the issue and, for each such element, URLs for retrieving tool-by-tool diagnoses of the issue on the element. NOT YET IMPLEMENTED.
      parameters:
        - name: issueID
          in: path
          required: true
          description: Issue identifier (e.g., imageNoText). Available under "issues reported" > priority level > "identifier" in the getReportIssues response.
          schema:
            type: string
            example: 'imageNoText'
        - name: timeStamp
          in: path
          required: true
          schema:
            type: string
        - name: jobID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details about the specified issue in the specified report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIssueResponse'
        '404':
          description: No report or issue found with the specified identifiers

components:
  schemas:

    CommonResponseFields:
      type: object
      properties:
        summary:
          type: string
          description: Natural-language description of this response and of Kilotest. Provides context for an agent encountering Kilotest for the first time.
        tool name:
          type: string
          example: Kilotest
        request:
          type: object
          properties:
            type of request:
              type: object
              properties:
                identifier:
                  type: string
                description:
                  type: string
            URLs:
              type: object
              properties:
                'URL of your request':
                  type: string
                'equivalent URL for humans':
                  type: string
        response metadata:
          type: object
          properties:
            identifier:
              type: string
              description: Unique identifier for this response instance.
            date and time:
              type: string
              format: date-time

    TestRecFormResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          properties:
            available reports:
              type: array
              description: One entry per available Kilotest report, in alphabetical order by page description and, in case of multiple reports per page, in order of creation date and time. Reports are matched by page description, not page URL, so, if only the URL of a page has changed between reports, the reports are treated as reports about the same page.
              items:
                $ref: '#/components/schemas/TargetsItem'

    ToolInfo:
      type: object
      description: An accessibility testing tool in the Kilotest ensemble.
      properties:
        identifier:
          type: string
          description: Short programmatic identifier for the tool.
          example: alfa
        name:
          type: string
          description: Display name of the tool.
          example: Alfa
        sponsor:
          type: string
          description: Organization that created, initially sponsored, or now sponsors the tool.
          example: Siteimprove

    ToolFailure:
      type: object
      description: A tool that was unable to complete testing of the page.
      properties:
        name:
          type: string
          example: WAVE
        reason for failure:
          type: string
          example: Not enough credits.

    ToolsSummary:
      type: object
      description: Count and names of a set of tools.
      properties:
        number:
          type: integer
        names:
          type: array
          items:
            type: string

    NextTierURLs:
      type: object
      description: URLs for retrieving the next level of detail.
      properties:
        for you:
          type: string
          format: uri
          description: URL for an agent to request the next tier of detail.
        for humans:
          type: string
          format: uri
          description: URL for a human to view the next tier of detail.

    targetsItem:
      type: object
      description: Summary data about a single available report.
      properties:
        identifier:
          type: string
          example: 260504T1659-029
        creation date:
          type: string
          format: date-time
        days since the creation date:
          type: integer
        tested web page:
          type: object
          properties:
            description:
              type: string
            URL:
              type: string
              format: uri
        whether a later report about the same page exists:
          type: boolean
          description: If true, a more recent report about this page is available. If you want the latest results, use that report instead.
        number of issues reported:
          type: integer
        number of HTML elements reported as exhibiting issues:
          type: integer
        tools that tried to test the page:
          $ref: '#/components/schemas/ToolsSummary'
        tools that were unable to test the page:
          $ref: '#/components/schemas/ToolsSummary'
        tools that reported issues:
          $ref: '#/components/schemas/ToolsSummary'
        URLs for getting data on the reported issues:
          $ref: '#/components/schemas/NextTierURLs'
        URL for getting the full technical report as JSON:
          type: string
          format: uri

    TargetsResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          properties:
            available reports:
              type: array
              description: One entry per available Kilotest report, in alphabetical order by page description and, in case of multiple reports per page, in order of creation date and time. Reports are matched by page description, not page URL, so, if only the URL of a page has changed between reports, the reports are treated as reports about the same page.
              items:
                $ref: '#/components/schemas/TargetsItem'

    IssueEntry:
      type: object
      description: Details about a specific accessibility issue found on a page.
      properties:
        identifier:
          type: string
          example: imageNoText
        summary:
          type: string
          description: Brief natural-language label for the issue.
          example: image not named
        related WCAG 2.2 standard:
          type: object
          description: The WCAG 2.2 success criterion or guideline most closely related to this issue.
          properties:
            layer:
              type: string
              enum: [guideline, success criterion]
            'numeric identifier':
              type: string
              pattern: '^\d\.\d(\.\d+)?$'
              example: '1.1.1'
        impact on a user:
          type: string
          description: How this issue is likely to affect users.
        tools reporting the issue:
          $ref: '#/components/schemas/ToolsSummary'
        number of HTML elements reported as exhibiting the issue:
          type: integer
        URLs for details about the issue on the page:
          $ref: '#/components/schemas/NextTierURLs'

    IssuesByPriority:
      type: object
      properties:
        highest priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        high priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        low priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'
        lowest priority:
          type: array
          items:
            $ref: '#/components/schemas/IssueEntry'

    ReportIssuesResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          properties:
            report:
              type: object
              properties:
                identifier:
                  type: string
                creation date:
                  type: string
                  format: date-time
                days since the creation date:
                  type: integer
            tested web page:
              type: object
              properties:
                description:
                  type: string
                URL:
                  type: string
                  format: uri
            tools that tried to test the page:
              type: array
              items:
                $ref: '#/components/schemas/ToolInfo'
            tools that were unable to test the page:
              type: array
              items:
                $ref: '#/components/schemas/ToolFailure'
            tools that reported issues:
              $ref: '#/components/schemas/ToolsSummary'
            number of issues reported:
              type: object
              properties:
                total:
                  type: integer
                by priority:
                  type: object
                  properties:
                    highest priority:
                      type: integer
                    high priority:
                      type: integer
                    low priority:
                      type: integer
                    lowest priority:
                      type: integer
            number of HTML elements reported as exhibiting issues:
              type: integer
            issues reported:
              $ref: '#/components/schemas/IssuesByPriority'

    ReportIssueResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponseFields'
        - type: object
          description: Element-level detail for a specific issue. Schema to be completed once the tier-3 service is implemented.
