*:focus {
  outline: solid 0.2rem #00f;
  outline-offset: 0.2rem;
}
a:hover {
  background-color: #ddd;
}
body {
  margin: 2rem;
  font-size: large;
}
.bold, .componentID {
  font-weight: 700;
}
button {
  min-height: 44px;
  min-width: 44px;
  padding: 0.5rem;
  border: solid 0.2rem #03a;
  border-radius: 1rem;
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  background-color: #03a;
}
button:disabled, button:disabled:hover {
  color: #666;
  background-color: #ccc;
  border-color: #666;
}
button:hover {
  color: #000;
  background-color: #9df;
}
caption {
  margin: 1rem 0;
  font-weight: 700;
  font-style: italic;
}
.center {
  text-align: center;
}
code {
  font-family: sans-serif;
  color: #832703;
}
code.thin {
  font-weight: 400;
}
.contents-table {
  margin-bottom: 2rem;
  padding: 1rem;
  border: solid 0.2rem #006666;
  border-radius: 0.5rem;
}
.contents-table h2 {
  margin-top: 0;
}
details {
  padding: 0.5rem;
  border: solid #000 1px;
}
.error {
  font-weight: 700;
  color: #c00;
}
fieldset {
  width: max-content;
  margin-top: 1rem;
}
.firstCellRight td:nth-child(1) {
  text-align: right;
}
form {
  margin-top: 1rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.8rem;
  margin: 1rem auto 0.5rem auto;
  color: #006666;
}
h3 {
  font-size: 1.6rem;
  margin: 1rem auto 0.5rem auto;
}
h3.bars {
  border-top: solid black 0.1rem;
  padding-top: 1rem;
}
h3.priority {
  display: inline;
  margin: 0.5rem 0;
}
h4 {
  font-size: 1.4rem;
}
h4.priority {
  display: inline;
  margin: 0.25rem 0;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
input {
  margin: 0.5rem 0;
  font-size: inherit;
}
legend {
  font-weight: 700;
}
li, p {
  line-height: 1.5;
}
p {
  margin: 0.5rem 0;
}
pre {
  white-space: break-spaces;
}
.secondCellRight td:nth-child(2) {
  text-align: right;
}
section.main {
  border-top: solid 0.3rem #006666;
  padding-top: 1rem;
  margin-top: 2rem;
}
summary {
  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  padding: 0.75rem 0.5rem 0 0.5rem;
}
summary:focus, ul.nav > li > a:focus {
  outline-offset: -6px;
}
summary:hover {
  background-color: #ddd;
}
#synopsis > p {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
table.allBorder th {
  padding-bottom: 0;
}
table.allBorder th, table.allBorder td, tbody td {
  border: 1px gray solid;
}
tbody th {
  padding-right: 1rem;
  text-align: right;
}
td, th {
  padding: 0 0.5rem;
}
textarea {
  width: 100%;
}
thead th {
  padding-bottom: 1rem;
}
.thirdCellRight td:nth-child(3) {
  text-align: right;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul.pseudoTopLevel {
  list-style: disc;
}
ul.nav {
  padding-inline-start: 0.25rem;
}
ul.nav li, ul.headed li {
  list-style: none;
}
ul.nav li > a {
  display: block;
  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
ul.whereList {
  margin-left: 2rem;
  padding-left: 0;
}
ul.xPathList {
  margin-left: 0;
  padding-left: 0;
}
ul.xPathList li {
  margin-left: 1rem;
  padding-left: 0;
  overflow-wrap: break-word;
}
